# Source
src/

# Tests
test/
coverage/
*.test.ts
jest.config.js

# Config files
.eslintrc
.prettierrc
.github/
tsconfig.json
.editorconfig

# Examples
examples/

# Misc
.DS_Store
.env
.env.*
*.log
.idea/
.vscode/
test-*.json